
{% load comments %}

{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'blogs/style.css' %}" />

<script src="{% static 'blogs/js/jquery.js' %}"></script>
<script src="{% static 'blogs/js/rango-ajax.js' %}"></script>

<script type="text/javascript">
window.onload = function ()
{
  document.getElementById('credit').style.width = document.getElementById('photo').width;
}

</script>

<h1>{{ post.post_head }}</h1>

{% for pic in pictures %}
<div width="100%" align="center">
  <img id="photo" src="{{ MEDIA_URL }}{{ pic.get_image_filename}}" alt="Pic not available" height="400" >
  <div id="credit" class="photo_credit" align="right">
    Photo by {{ pic.get_credit }}
  </div>
</div>
<div class="caption" width="100%" align="center">
  <p>{{ pic.caption }}</p>
</div>
{% endfor %}
<br/>
<div class="content">
  <p>{{ post.post_text | linebreaks }}</p>
</div>

<br/>
<hr/>
<h2>Comments</h2>


{% render_comment_list for post %}

<br/>
<h2>Add new comment ...</h2>

{% get_comment_form for post as form %}
<table>
  <form action="{% comment_form_target %}" method="post">
    {% csrf_token %}
	{{ form }}
    <tr>
      <td colspan="2">
        <input type="submit" name="submit" value="Post">
      </td>
    </tr>
  </form>
</table>