{% extends 'base.html' %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'blogs/style.css' %}" />

{% block title_content %}Joey Chaps Blog{% endblock %}

{% block nav-blog %}<strong class="nav-active">Blog</strong>{% endblock %}

{% block blog_content %}
<h1>Joey Chaps Blog</h1>
{% if latest_post_list %}
	<ul>
	{% for post in latest_post_list %}
    	<li><a href="{% url 'blogs:detail' post.id %}">{{ post.post_head }}</a><span style="font-size:14px"> - {{post.pub_date}}<span></li>
	{% endfor %}
	</ul>
{% else %}
	<p>No posts are available.</p>
{% endif %}
{% endblock %}