


.content {
	font-family: 'Comic Sans MS', cursive, sans-serif;
	font-size: 16px;
}

h1 {
	color: #616D80;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


h2, label {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#id_honeypot, #id_url {

	display: none;
}

.photo_credit {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 12px;
}

.caption {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
	font-size: 16px;
}